@{
    ViewData["Title"] = "Menu";
    
}

<div class="container">
    <div class="text-center">
        <h2>Menu</h2>
        <div class="row form-group">
            <a href="@Url.Action("Index", "EngQuiz")" class="btn btn-primary" style="width:200px;">Start test</a>
        </div>
        <div class="row form-group">
            <a href="@Url.Action("Index", "Contents")" class="btn btn-primary" style="width:200px;">Content</a>
        </div>
        <div class="row">
            <a href="@Url.Action("Index", "SquareGame")" class="btn btn-primary" style="width:200px;">Square Game</a>
        </div>
    </div>
    
    
</div>

<script>
    $(document).ready(function () {
        
    })


</script>
