@{
    ViewData["Title"] = "Menu";
}

<div class="container">
    <div class="text-center">
        <h2>Menu</h2>
        <div class="row form-group">
            <a id="btnStart" class="btn btn-primary" href="/EngQuiz/Index" style="width:200px;">Start</a>
        </div>
        <div class="row">
            <a id="btnContent" class="btn btn-primary" href="/Contents/Index" style="width:200px;">Content</a>
        </div>
    </div>
    
    
</div>

<script>
    $(document).ready(function () {
        
    })


</script>
