
@{
    ViewData["Title"] = "Menu";
}

<h2>Menu</h2>

<div class="container">
    <div class="row">
        <div class="btn-group-vertical col-md-6">
            <a href="/EngQuiz/Index" class="btn btn-primary">Start test</a>
            <a href="/EngQuiz/Content" class="btn btn-primary">Edit content</a>
            <button id="" type="button" class="btn btn-primary">Statistics</button>
        </div>
    </div>
    





</div>